<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


   <!--///////////    IDENTIFICATION    ///////////-->
    <servlet-mapping>
        <servlet-name>ServletIdentification</servlet-name>
        <url-pattern>/Identification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletIdentification</servlet-name>
        <servlet-class>Services.Identification</servlet-class>
    </servlet>

    <!--//////////    GESTION UTILISATEUR    ////////////////-->

    <servlet-mapping>
        <servlet-name>GestionUtilisateur</servlet-name>
        <url-pattern>/GestionUtilisateur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionUtilisateur</servlet-name>
        <servlet-class>Services.GestionUtilisateur</servlet-class>
    </servlet>

    <!--//////////////  GESTION CARTES   /////////////////-->

    <servlet-mapping>
        <servlet-name>GestionCartesServlet</servlet-name>
        <url-pattern>/GestionCartes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionCartesServlet</servlet-name>
        <servlet-class>Services.GestionCartes</servlet-class>
    </servlet>


    <!--//////////    GESTION AMIS   ////////////////////-->

    <servlet-mapping>
        <servlet-name>GestionAmis</servlet-name>
        <url-pattern>/GestionAmis</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionAmis</servlet-name>
        <servlet-class>Services.GestionAmis</servlet-class>
    </servlet>


    <!--/////////////// GESTION QUIZZ   ///////////////////-->

    <servlet-mapping>
        <servlet-name>GestionQuizzServlet</servlet-name>
        <url-pattern>/GestionQuizz</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionQuizzServlet</servlet-name>
        <servlet-class>Services.GestionQuizz</servlet-class>
    </servlet>

    <!--/////////////// GESTION ECHANGE    ///////////////////-->

    <servlet-mapping>
        <servlet-name>GestionEchange</servlet-name>
        <url-pattern>/CreationEchange</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestionEchange</servlet-name>
        <servlet-class>Services.GestionEchange</servlet-class>
    </servlet>






</web-app>